@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'dahlia';
  src: url(fonts/dahlia-regular.woff);
}

@font-face {
  font-family: 'dahliarc';
  src: url(fonts/dahlia-regularcondensed.woff);
}