@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D9D9D9
}

@font-face {
  font-family: 'dahlia';
  src: url(fonts/dahlia-regular.woff);
}

@font-face {
  font-family: 'dahliarc';
  src: url(fonts/dahlia-regularcondensed.woff);
}

@font-face {
  font-family: 'dahliamc';
  src: url(fonts/dahlia-mediumcondensed.woff);
}

@font-face {
  font-family: 'dahliabc';
  src: url(fonts/dahlia-boldcondensed.woff);
}

@font-face {
  font-family: 'geistmono';
  src: url(fonts/GeistMono-Regular.woff);
}

@font-face {
  font-family: 'giestmono-bold';
  src: url(fonts/GeistMono-Bold.woff);
}